<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            Chat Universitario
        </ion-title>
        <ion-avatar slot="end" class="avatar">
            <img src="../../assets/pruebaTP5.png">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-button class="lindo boton" expand="block " routerLink="/curso-uno"> <span>PPS-4A</span></ion-button>
    <ion-button class="feo boton" expand="block " routerLink="/curso-dos"><span>PPS-4B</span></ion-button>
</ion-content>

<!-- <ion-content [fullscreen]="true" scroll="false" padding class="background">
    <ion-list class="fondo">
        <ion-list-header class="cabecera">
            Conversaciones recientes
        </ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Profesor</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list class="fondo">
        <ion-list-header class="cabecera">
            En línea
        </ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../assets/user2.png">
            </ion-avatar>
            <ion-label>
                <h2>Alumno1</h2>
                <h3>Este es un titulo</h3>
                <p>Esto es un texto de prueba</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content> -->